NOC Macro/Web References/com.hpe.saas.essentials/DemandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:common="http://mercury.com/ppm/common/1.0" xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mercury.com/ppm/common/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AuditHeader" type="common:AuditHeader" />
  <xs:complexType name="AuditHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="audit-note" type="xs:string" />
      <xs:element minOccurs="0" name="audit-origin" type="xs:string" />
      <xs:element minOccurs="0" name="audit-transaction-name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note" type="common:Note" />
  <xs:complexType name="Note">
    <xs:sequence>
      <xs:element minOccurs="0" name="author" type="xs:string" />
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="content" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" type="common:Field" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Table" type="common:Table" />
  <xs:complexType name="Table">
    <xs:complexContent mixed="false">
      <xs:extension base="common:Field">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="columns" nillable="true" type="common:Column" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Column" type="common:Column" />
  <xs:complexType name="Column">
    <xs:complexContent mixed="false">
      <xs:extension base="common:Field">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="values" nillable="true" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="dates" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldMetaData" type="common:FieldMetaData" />
  <xs:complexType name="FieldMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="prompt" type="xs:string" />
      <xs:element name="required" type="xs:boolean" />
      <xs:element minOccurs="0" name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLocaleHeader" type="common:UserLocaleHeader" />
  <xs:complexType name="UserLocaleHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="LanguageLocale" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:integer" />
      <xs:element minOccurs="0" name="userName" type="xs:string" />
      <xs:element minOccurs="0" name="fullName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="userData1" type="xs:string" />
      <xs:element minOccurs="0" name="userData2" type="xs:string" />
      <xs:element minOccurs="0" name="userData3" type="xs:string" />
      <xs:element minOccurs="0" name="userData4" type="xs:string" />
      <xs:element minOccurs="0" name="userData5" type="xs:string" />
      <xs:element minOccurs="0" name="userData6" type="xs:string" />
      <xs:element minOccurs="0" name="userData7" type="xs:string" />
      <xs:element minOccurs="0" name="userData8" type="xs:string" />
      <xs:element minOccurs="0" name="userData9" type="xs:string" />
      <xs:element minOccurs="0" name="userData10" type="xs:string" />
      <xs:element minOccurs="0" name="userData11" type="xs:string" />
      <xs:element minOccurs="0" name="userData12" type="xs:string" />
      <xs:element minOccurs="0" name="userData13" type="xs:string" />
      <xs:element minOccurs="0" name="userData14" type="xs:string" />
      <xs:element minOccurs="0" name="userData15" type="xs:string" />
      <xs:element minOccurs="0" name="userData16" type="xs:string" />
      <xs:element minOccurs="0" name="userData17" type="xs:string" />
      <xs:element minOccurs="0" name="userData18" type="xs:string" />
      <xs:element minOccurs="0" name="userData19" type="xs:string" />
      <xs:element minOccurs="0" name="userData20" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData1" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData2" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData3" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData4" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData5" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData6" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData7" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData8" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData9" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData10" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData11" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData12" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData13" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData14" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData15" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData16" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData17" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData18" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData19" type="xs:string" />
      <xs:element minOccurs="0" name="visUserData20" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>